.site-content {
  width: 100%;
}

.content-area {
  @include clearfix();
  padding: $pad-double $pad;
  width: 100%;
  max-width: $size__site-wrap;
  margin: 0 auto;
}

@media screen and (min-width: $bp__one) {
  .site-main {
    float: left;
    width: 65%;
  }

  .widget-area {
    float: right;
    width: 30%;
    overflow: hidden;
  }

  .full-width .site-main,
  .full-width .widget-area {
    float: none;
    width: auto;
  }
}

.site-footer {
}

/* Grid Rules */
.grid {

  @media screen and (min-width: $bp__one) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -$margin-and-half;
    margin-right: -$margin-and-half;

    .card {
      flex: 0 1 auto;
      margin: $margin-and-half;
    }

    &.cols-3 {
      .card  {
        flex-basis: 33.3%;
        max-width: calc(33.3% - #{$margin-triple});
      }
    }

    &.cols-4 {
      .card  {
        flex-basis: 25%;
        max-width: calc(25% - #{$margin-triple});
      }
    }

  }
}

.wrap {
  width: 100%;
  max-width: $size__site-wrap;
  margin: 0 auto;

  @include clearfix();
}
