.site-content {
	width: 100%;
}

.content-area {
	padding: $pad-double $pad;
	width: 100%;
	max-width: $size__site-wrap;
	margin: 0 auto;
}

@media screen and (min-width: $bp__one) {
	.site-main {
		float: left;
		width: 65%;
	}

	.sidebar {
		float: right;
		width: 30%;

		.page & {
			margin-top: 4rem;
		}

	}

	.full-width .site-main,
	.full-width .sidebar {
		float: none;
		width: auto;
	}
}

.site-footer {
	padding: $pad-double $pad;
	background-color: $color__text-main;
	color: #fff;

	a {
		color: #fff;
	}

	.site-info {
		max-width: 60 * 1.25em;
		margin: 0 auto;
		font-size: 80%;
	}

	.widget-area {
		max-width: $size__site-wrap;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: $bp__two) {

			.widget {
				float: left;
				margin-right: 1.5rem;

				&:last-child {
					margin-right: 0;
				}

				/* 1 widget */
				&:first-child:nth-last-child(1) {
					width: 100%
				}

				/* 2 widget */
				&:first-child:nth-last-child(2),
				&:first-child:nth-last-child(2) ~ .widget {
					width: calc(50% - .75rem);
				}

				/* 3 widget */
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ .widget {
					width: calc(33% - 1rem);
				}

				/* 4 widget */
				&:first-child:nth-last-child(4),
				&:first-child:nth-last-child(4) ~ .widget {
					width: calc(25% - 1.125rem);
				}
			}

		}

	}
}

/* Grid Rules */
.grid {

	@media screen and (min-width: $bp__one) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -$margin-and-half;
		margin-right: -$margin-and-half;

		.card {
			flex: 0 1 auto;
			margin: $margin-and-half;
		}

		&.cols-3 {
			.card	{
				flex-basis: 33.3%;
				max-width: calc(33.3% - #{$margin-triple});
			}
		}

		&.cols-4 {
			.card	{
				flex-basis: 25%;
				max-width: calc(25% - #{$margin-triple});
			}
		}

	}
}

.wrap {
	width: 100%;
	max-width: $size__site-wrap;
	margin: 0 auto;

	@include clearfix();
}

/**
 * Front page CTA Banner
 */
.cta-banner {
	background-color: $color__action;
	background-image: url(img/campaign-banner-1400x400.jpg);
	background-size: cover;
	border-top: 1px solid #31030B;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 1em;

	.cta-banner-title {
		overflow: hidden;
		height: 0;
		padding-top: 95px;
		margin-top: 0;
		background: url('img/campaign-banner-text-2-line.png');
		background-position: -5px 0;
		background-size: contain;
		background-repeat: no-repeat;
		font-weight: 900;
		font-style: italic;
		text-shadow: 0 2px 5px rgba(#31030B, .8);
		color: #FFCD5D;

		@media screen and (min-width: $bp__one) {
			font-size: 2.5em;
		}

		@media screen and (min-width: $bp__two) {
			padding-top: 75px;
			background: url('img/campaign-banner-text-1-line.png');
			background-position: -9px 0;
			background-size: 80%;
			background-repeat: no-repeat;
		}

	}

	.cta-banner-text {
		font-size: 1.2em;
	}

	.btn.btn-primary,
	.btn.btn-primary:hover,
	.btn.btn-primary:focus {
		background-color: #FFCD5D;
		border-color: #31030B;
		border-color: rgba(#31030B, .8);
		font-size: 1.125em;
		text-shadow: none;
		color: #31030B;
		transition: background-color 150ms ease-out;
	}

	.btn.btn-primary:hover,
	.btn.btn-primary:focus {
		background-color: darken(#FFCD5D, 10%);
	}
}
