/* Buttons */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: $border-radius__sm;
	background: $color__background-button;
	color: $color__text-main;
	@include font-size(0.875);
	line-height: 1;
	padding: .5em 1em;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

	&:hover,
	&:focus {
		border-color: $color__border-button-hover;
		background: darken($color__background-button, 5%);
		color: $color__text-main;
		cursor: pointer;
	}
}

.btn-primary {
	border-color: $color__border-button-primary;
	background: $color__background-button-primary;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

	&:hover,
	&:focus {
		border-color: $color__border-button-primary-hover;
		background: darken($color__background-button-primary, 5%);
		color: #fff;
	}
}

.btn-sm {
	@include font-size(0.75);
}

.btn-lg {
	@include font-size(1);
}

.btn-block {
	display: block;
	width: 100%; // <button> elements need this
	margin-top: $margin;
	margin-bottom: $margin-and-half;
}


/* Call to action links */
.cta {
	display: inline-block;
	position: relative;
	padding-left: 2em;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	// the circle
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		width: 1.5em;
		height: 1.5em;
		background-color: $color__action;
		border-radius: 50%;
	}

	// the arrow
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		left: .625em;
		top: .375em;
		height: 0;
		width: 0;
		border: .375em solid transparent;
		border-left-color: #fff;
	}
}
