.widget {
	margin: 0 0 1.5em;
	font-size: .875em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	a {
		color: $color__text-screen;
	}
}

.widget-title {
	@extend h4;
	font-family: $font__main;
	font-weight: 600;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Special Widgets */
.widget_subpages {
	overflow: hidden;
	background-color: #fff;
	border-radius: $border-radius__sm;
	box-shadow: $box-shadow-1;

	.widget-title {
		margin: 0;
		padding: $pad $pad;
		background-color: $color__text-main;
		color: #fff;
		-webkit-font-smoothing: antialiased;
	}

	[class*="menu-item-"] {
		padding: $pad;
		border-bottom: 1px solid $color__background-body;

		&:last-child {
			border-bottom: none;
		}

		a {
			text-decoration: none;
		}
	}

}

.widget_subpages_current_page {
	background-color: $color__background-body;
}


.widget_rfm-donate-widget {
	position: relative;
	padding: $pad $pad $pad-double;
	color: #fff;
	border-radius: 0 0 $border-radius__sm $border-radius__sm;
	background: rgb(55, 71, 79) url(img/hands-bg.jpg) center center;
	background-size: cover;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 5px;
		background-color: $color__action;
	}

	.widget-title {
		color: #fff;
	}
}

/* Mailchimp stuff */
.widget_mailchimpsf_widget .mergeRow {
		display: none;
}

.widget_mailchimpsf_widget .mc_signup_submit {
		width: 10rem !important;
		text-align: left;
}

.widget_mailchimpsf_widget #mc_signup_submit {
		margin-top: 0;
}
