$color__primary: #009697;
$color__action: #ec6c50;
$color__muted: #becbbd;

$color__background-body: #eff2eb;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-button-primary: $color__action;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #37474f;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__action;
$color__link-visited: $color__action;
$color__link-hover: $color__action;
$color__text-main: #37474f;

$color__border-button: #ccc;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-primary: darken($color__action, 5%);
$color__border-button-primary-hover: darken($color__action, 5%) darken($color__action, 10%) darken($color__action, 15%);
$color__border-input: #ccc;
$color__border-abbr: #666;
