$size__site-main: 100%;
$size__site-sidebar: 25%;

$bp__one: 600px;

// Paddings
$pad: 10px;
$pad-half: $pad * .5;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;

// Margins
$margin: 10px;
$margin-half: $margin * .5;
$margin-and-half: $margin * 1.5;
$margin-double: $margin * 2;
