$size__site-main: 100%;
$size__site-sidebar: 25%;

$bp__one: 600px;
$bp__two: 960px;

// Paddings
$pad: 10px;
$pad-half: $pad * .5;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;

// Margins
$margin: 10px;
$margin-half: $margin * .5;
$margin-and-half: $margin * 1.5;
$margin-double: $margin * 2;
$margin-triple: $margin * 3;

// Styles
$border-radius:     8px;
$border-radius-sm:  4px;

$box-shadow-1: 0 1px 4px rgba(#333, .2);
$box-shadow-2: 0 2px 8px rgba(#333, .2);
