a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.link-reverse,
a.link-reverse:hover,
a.link-reverse:focus
a.link-reverse:visited {
	color: #fff;
}

a.link-reverse:hover,
a.link-reverse:focus {
	text-decoration: none;
}
