.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a {
		}
	}
	a,
	a:visited, {
		display: block;
		text-decoration: none;
		color: $color__primary;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.menu-primary-nav-container {
	position: relative;
	margin: 0 -0.5rem;
	color: $color__primary;

	.menu-item {
		display: block;
		padding: .5rem;
		border-top: 1px solid rgba($color__primary, 0.2);
		font-size: .875em;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;

		> a {
			color: inherit;
		}

		&:hover,
		&:focus {
			border-color: $color__primary;
			background: $color__primary;
			color: #fff;
		}

	}
}

/* Small menu. */
.menu-toggle {
	display: none;
	position: absolute;
	right: 10px;
	top: .5rem;
	border-color: $color__primary;
	background: transparent;
	border-radius: 4px;
	box-shadow: none;
	color: $color__primary;
	text-shadow: none;

	&:hover {
		background: $color__primary;
		color: #fff;
	}

	&:hover,
	&:focus {
		border-color: $color__primary;
		box-shadow: none;
	}
}

@media screen and (max-width: $bp__one) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

@media screen and (min-width: $bp__one) {
	.main-navigation {
		float: right;
		clear: right;
		height: 100%;
		width: auto;
		margin: 0;

		ul {
			height: inherit;
		}
	}

	.menu-primary-nav-container {
		height: inherit;
		margin: 0;

		.menu-item {
			position: relative;
			float: left;
			height: 100%;
			border-top: none;
			padding: 35px 1rem .5rem;

			&:hover,
			&:focus {
				border-color: none;
				background: none;
				color: inherit;
				text-decoration: underline;
			}

		}
	}

}

@media screen and (min-width: $bp__two) {

	.menu-primary-nav-container {

		.menu-item {
			font-size: 1em;
		}

	}

}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
