.sticky {
	display: block;
}

.hentry {
	position: relative;
	margin: 0 0 $margin-double;
  padding: $pad $pad-and-half $pad-double;
  background-color: #fff;
  box-shadow: $box-shadow-1;

	.blog &:after, {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 6px;
		background-image: linear-gradient( 90deg, $color__primary, $color__primary 20%, $color__muted 20%, $color__muted 55%, saturate($color__background-body, 5%) 55%, saturate($color__background-body, 5%) );
	}
}

.entry-title {
	margin-top: 0;

	a {
	  color: $color__text-main;
	  text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.section-label {
	display: inline-block;
	padding: .2em .5em;
	background-color: $color__muted;
	border-radius: $border-radius__sm;
	color: #fff;
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	&:visited,
	&:hover {
		color: #fff;
	}

	&:hover {
		background-color: darken( $color__muted, 10% );
	}
}
