.header-search {
	display: none; // ugly hackish mess
}

.site-header {
	position: relative;
	padding: $pad $pad 0;
	background-color: #fff;
	border-top: 5px solid $color__primary;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.site-branding {
	a {
		color: $color__primary;
	}
}

.site-title {
	margin: 0 60px $margin 0;
	font-size: 1.5em;
	line-height: 1.2;

	> a {
		text-decoration: none;
	}
}

@media screen and (min-width: $bp__one) {
	.header-search {
		display: block;
		float: right;
		padding: $pad-half $pad $pad;
		background-color: $color__primary;
		border-bottom-right-radius: $border-radius__sm;
		border-bottom-left-radius: $border-radius__sm;
	}

	.site-header {
		border-top-size: 10px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-branding {
		float: left;
		margin-right: $margin-triple;
	}

	.site-title {
		position: relative;
		height: 130px;
		width: 155px;
		margin: 0;
		background: url(img/rfm-logo-2line.svg) no-repeat center center;

		> a {
			position: absolute;
			left: 0;
			top: 0;
			height: 0;
			width: 100%;
			padding-bottom: 130px; // height of container
			overflow: hidden;
			font-size: 0;
		}
	}
}
